# Import Data

In [1]:
import pandas as pd

In [2]:
data = 'data/Tweets.csv'

In [3]:
tweets = pd.read_csv(data)

# First Look

In [4]:
#Check columns
tweets

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14635,569587686496825344,positive,0.3487,NaN,0.0000,American,NaN,KristenReenders,NaN,0,@AmericanAir thank you we got on a different f...,NaN,2015-02-22 12:01:01 -0800,NaN,NaN
14636,569587371693355008,negative,1.0000,Customer Service Issue,1.0000,American,NaN,itsropes,NaN,0,@AmericanAir leaving over 20 minutes Late Flig...,NaN,2015-02-22 11:59:46 -0800,Texas,NaN
14637,569587242672398336,neutral,1.0000,NaN,NaN,American,NaN,sanyabun,NaN,0,@AmericanAir Please bring American Airlines to...,NaN,2015-02-22 11:59:15 -0800,"Nigeria,lagos",NaN
14638,569587188687634433,negative,1.0000,Customer Service Issue,0.6659,American,NaN,SraJackson,NaN,0,"@AmericanAir you have my money, you change my ...",NaN,2015-02-22 11:59:02 -0800,New Jersey,Eastern Time (US & Canada)
14639,569587140490866689,neutral,0.6771,NaN,0.0000,American,NaN,daviddtwu,NaN,0,@AmericanAir we have 8 ppl so we need 2 know h...,NaN,2015-02-22 11:58:51 -0800,"dallas, TX",NaN

In [5]:
#Check for length of dataframe
tweets.count()

tweet_id                        14640
airline_sentiment               14640
airline_sentiment_confidence    14640
negativereason                   9178
negativereason_confidence       10522
airline                         14640
airline_sentiment_gold             40
name                            14640
negativereason_gold                32
retweet_count                   14640
text                            14640
tweet_coord                      1019
tweet_created                   14640
tweet_location                   9907
user_timezone                    9820
dtype: int64

In [46]:
tweets.airline_sentiment.value_counts(normalize=True)*100

negative    62.691257
neutral     21.168033
positive    16.140710
Name: airline_sentiment, dtype: float64

In [6]:
#Check for low sentiment confidence
print(tweets.columns)
tweets.describe()

Index(['tweet_id', 'airline_sentiment', 'airline_sentiment_confidence',
       'negativereason', 'negativereason_confidence', 'airline',
       'airline_sentiment_gold', 'name', 'negativereason_gold',
       'retweet_count', 'text', 'tweet_coord', 'tweet_created',
       'tweet_location', 'user_timezone'],
      dtype='object')

,tweet_id,airline_sentiment_confidence,negativereason_confidence,retweet_count
count,1.464000e+04,14640.000000,10522.000000,14640.000000
mean,5.692184e+17,0.900169,0.638298,0.082650
std,7.791112e+14,0.162830,0.330440,0.745778
min,5.675883e+17,0.335000,0.000000,0.000000
25%,5.685592e+17,0.692300,0.360600,0.000000
50%,5.694779e+17,1.000000,0.670600,0.000000
75%,5.698905e+17,1.000000,1.000000,0.000000
max,5.703106e+17,1.000000,1.000000,44.000000

In [7]:
df = tweets[['airline_sentiment','text']]
df

      airline_sentiment                                               text
0               neutral                @VirginAmerica What @dhepburn said.
1              positive  @VirginAmerica plus you've added commercials t...
2               neutral  @VirginAmerica I didn't today... Must mean I n...
3              negative  @VirginAmerica it's really aggressive to blast...
4              negative  @VirginAmerica and it's a really big bad thing...
...                 ...                                                ...
14635          positive  @AmericanAir thank you we got on a different f...
14636          negative  @AmericanAir leaving over 20 minutes Late Flig...
14637           neutral  @AmericanAir Please bring American Airlines to...
14638          negative  @AmericanAir you have my money, you change my ...
14639           neutral  @AmericanAir we have 8 ppl so we need 2 know h...

[14640 rows x 2 columns]

In [8]:
for i in range(0,25):
    print(df.iloc[i,0])
    print(df.iloc[i,1])

neutral
@VirginAmerica What @dhepburn said.
positive
@VirginAmerica plus you've added commercials to the experience... tacky.
neutral
@VirginAmerica I didn't today... Must mean I need to take another trip!
negative
@VirginAmerica it's really aggressive to blast obnoxious "entertainment" in your guests' faces &amp; they have little recourse
negative
@VirginAmerica and it's a really big bad thing about it
negative
@VirginAmerica seriously would pay $30 a flight for seats that didn't have this playing.
it's really the only bad thing about flying VA
positive
@VirginAmerica yes, nearly every time I fly VX this â€œear wormâ€ wonâ€™t go away :)
neutral
@VirginAmerica Really missed a prime opportunity for Men Without Hats parody, there. https://t.co/mWpG7grEZP
positive
@virginamerica Well, I didn'tâ€¦but NOW I DO! :-D
positive
@VirginAmerica it was amazing, and arrived an hour early. You're too good to me.
neutral
@VirginAmerica did you know that suicide is the second leading cause of death among teens 10-24
positive
@VirginAmerica I &lt;3 pretty graphics. so much better than minimal iconography. :D
positive
@VirginAmerica This is such a great deal! Already thinking about my 2nd trip to @Australia &amp; I haven't even gone on my 1st trip yet! ;p
positive
@VirginAmerica @virginmedia I'm flying your #fabulous #Seductive skies again! U take all the #stress away from travel http://t.co/ahlXHhKiyn
positive
@VirginAmerica Thanks!
negative
@VirginAmerica SFO-PDX schedule is still MIA.
positive
@VirginAmerica So excited for my first cross country flight LAX to MCO I've heard nothing but great things about Virgin America. #29DaysToGo
negative
@VirginAmerica  I flew from NYC to SFO last week and couldn't fully sit in my seat due to two large gentleman on either side of me. HELP!
positive
I â¤ï¸ flying @VirginAmerica. â˜ºï¸ðŸ‘
positive
@VirginAmerica you know what would be amazingly awesome? BOS-FLL PLEASE!!!!!!! I want to fly with only you.
negative
@VirginAmerica why are your first fares in May over three times more than other carriers when all seats are available to select???
positive
@VirginAmerica I love this graphic. http://t.co/UT5GrRwAaA
positive
@VirginAmerica I love the hipster innovation. You are a feel good brand.
neutral
@VirginAmerica will you be making BOS&gt;LAS non stop permanently anytime soon?
negative
@VirginAmerica you guys messed up my seating.. I reserved seating with my friends and you guys gave my seat away ... ðŸ˜¡ I want free internet

# Pre-Processing

In [9]:
import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [10]:
#Useful Values
vocabLimit = 10000
embeddingSize = 100
oov = 'OOV'

In [11]:
#Data Splits
dataCount = df.text.count()
trainSize = int(0.7 * dataCount)
valSize = int(0.2 * dataCount)
testSize = int(0.1 * dataCount)

In [12]:
#Shuffle Dataframe 
df = df.sample(frac=1).reset_index(drop=True)

In [13]:
#Put values in lists
labels = []
text = []
 
for index,tweet in df.iterrows():
    labels.append(tweet['airline_sentiment'])
    text.append(tweet['text'])

In [14]:
print(text[0])
print(labels[0])

@JetBlue and the 20min line I stood in to drop my bag off?
negative

In [15]:
#Convert any texts with only numbers to str
text = [str(tweet) for tweet in text]

In [16]:
#Convert labels to numeric values
key = {'neutral':1,'positive':2,'negative':0}
labels = [key[label] for label in labels]
labels[:20]

[0, 1, 1, 0, 0, 2, 2, 1, 1, 0, 2, 2, 0, 2, 0, 0, 1, 2, 0, 0]

In [17]:
#Spit Data
trainText = text[0:trainSize]
valText = text[trainSize: trainSize + valSize]
testText = text[trainSize + valSize:]

trainLabels = labels[0:trainSize]
valLabels = labels[trainSize:trainSize + valSize]
testLabels = labels[trainSize + valSize:]

In [18]:
#Index words
tokenizer = Tokenizer(num_words = vocabLimit, oov_token = oov)
tokenizer.fit_on_texts(trainText)

#tokenizer.word_index

In [19]:
wordCount = len(tokenizer.word_index)

In [20]:
#Sequence and Pad
trainSeq = tokenizer.texts_to_sequences(trainText)
trainPad = pad_sequences(trainSeq, padding = 'post')

maxLen = len(trainPad[0])

valSeq = tokenizer.texts_to_sequences(valText)
valPad = pad_sequences(valSeq, maxlen = maxLen, padding = 'post', truncating = 'post')

testSeq = tokenizer.texts_to_sequences(testText)
testPad = pad_sequences(testSeq, maxlen = maxLen, padding = 'post', truncating = 'post')

In [21]:
#Convert to numpy array
import numpy as np
trainPad = np.array(trainPad)
trainLabels = np.array(trainLabels)

valPad = np.array(valPad)
valLabels = np.array(valLabels)

testPad = np.array(testPad)
testLabels = np.array(testLabels)

In [22]:
#Check to see if vocabLimit did not exceed total size
if wordCount > vocabLimit:
    inputSize = vocabLimit
else:
    inputSize = wordCount

In [23]:
#Get max length
maxLength = len(trainPad[0])
len(trainPad[0])

33

# Model Creation

In [24]:
#Build and compile model 

model = tf.keras.Sequential([
    tf.keras.layers.Embedding(inputSize, embeddingSize, input_length=maxLen),
    tf.keras.layers.LSTM(128),
    #tf.keras.layers.GlobalAveragePooling1D(),
    tf.keras.layers.Dense(24, activation='relu'),
    tf.keras.layers.Dense(3, activation='softmax')
])
model.compile(loss='sparse_categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [25]:
#Model Summary
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 33, 100)           1000000

 lstm (LSTM)                 (None, 128)               117248

 dense (Dense)               (None, 24)                3096

 dense_1 (Dense)             (None, 3)                 75

=================================================================
Total params: 1,120,419
Trainable params: 1,120,419
Non-trainable params: 0
_________________________________________________________________

In [26]:
#Train model
epochs = 10
history = model.fit(trainPad, trainLabels, epochs = epochs, validation_data = (valPad, valLabels), verbose = 2)

Epoch 1/10
321/321 - 13s - loss: 0.7432 - accuracy: 0.6870 - val_loss: 0.5892 - val_accuracy: 0.7708 - 13s/epoch - 41ms/step
Epoch 2/10
321/321 - 11s - loss: 0.4727 - accuracy: 0.8230 - val_loss: 0.5336 - val_accuracy: 0.7968 - 11s/epoch - 34ms/step
Epoch 3/10
321/321 - 11s - loss: 0.3374 - accuracy: 0.8819 - val_loss: 0.5660 - val_accuracy: 0.7848 - 11s/epoch - 34ms/step
Epoch 4/10
321/321 - 11s - loss: 0.2517 - accuracy: 0.9166 - val_loss: 0.6653 - val_accuracy: 0.7797 - 11s/epoch - 34ms/step
Epoch 5/10
321/321 - 11s - loss: 0.1998 - accuracy: 0.9349 - val_loss: 0.7180 - val_accuracy: 0.7804 - 11s/epoch - 34ms/step
Epoch 6/10
321/321 - 11s - loss: 0.1488 - accuracy: 0.9522 - val_loss: 0.7795 - val_accuracy: 0.7763 - 11s/epoch - 35ms/step
Epoch 7/10
321/321 - 11s - loss: 0.1403 - accuracy: 0.9557 - val_loss: 0.7780 - val_accuracy: 0.7712 - 11s/epoch - 34ms/step
Epoch 8/10
321/321 - 11s - loss: 0.1103 - accuracy: 0.9646 - val_loss: 0.8869 - val_accuracy: 0.7664 - 11s/epoch - 34ms/step
Epoch 9/10
321/321 - 11s - loss: 0.0978 - accuracy: 0.9692 - val_loss: 0.9470 - val_accuracy: 0.7804 - 11s/epoch - 35ms/step
Epoch 10/10
321/321 - 12s - loss: 0.0857 - accuracy: 0.9737 - val_loss: 0.9645 - val_accuracy: 0.7732 - 12s/epoch - 37ms/step

In [27]:
#Predict on test set
testProbs = model.predict(testPad)

46/46 [==============================] - 1s 8ms/step

In [36]:
#Find best fit label
preds = testProbs.argmax(axis=1)
print(preds)

[2 0 2 ... 0 0 0]

In [43]:
#Compare predicted and actual label
x = testLabels == preds
#Find accuracy
acc = x.mean()
print(acc)

0.7650273224043715

In [52]:
print((testLabels == 0).mean())

0.6120218579234973